footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    background-color: black;

    div {
        color: white;
        height: 150px;
    }

    h3 {
        margin-top: 3em;
    }

}

