header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: white;
    padding: 0 20px 0 0;

    @include breakpoint(large) {
        height: 100px;
        padding: 0 17%;
    }

    .logo {
        height: 70px;
        width: 185px;

        @include breakpoint(large) {
            height: 100px;
            width: auto;
        }
    }

}

.login-container {
    margin-top: 1.3em;

    @include breakpoint(large) {
        margin-top: 2em;
    }
    
    .login, #logout {
        font-family: $font-headings;
        font-weight: 400;
        cursor: pointer;
    }

    .fa-circle-user, .login {
        color: black;
        text-decoration: none;
        text-align: center;
    }

    .fa-circle-user,  .fa-right-from-bracket{
        display: block;
        font-size: 21px;
        
    }

    #logout {
        border: none;
        background: none;
        
        
    }
}

